.main-content{
    width: 100%;
    height: 100vh;
    background-color: red;
    padding: 100px 400px;   
}
.content-form{
    background-color: rgb(181, 235, 236);
    height: 100%;
    padding: 20px 20px;
    box-shadow: 0px 0px 16px 0px black;
}
h2{
    text-align: center;
    color: rgb(100, 42, 42);
}

.form-edit-image img{
    width: 100%;
    height: 200px;
    border-radius: 10%;
    background-size: cover;
}
.form-edit-image .form-group input{
    background: rgb(181, 235, 236) !important;
    border: yellow !important;
    box-shadow: 0px 0px 0px 0px black;

}

label{
    font-weight: bold;
}
button{
    border: none !important;
}