*{
    margin: 0px;
    box-sizing: border-box;
}
.main-content{
   
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 16px;
    position: relative;
    z-index: 0;
    padding-bottom: 16px;
}

.main-content::before{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: -o-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: -moz-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background-size:  cover;
}

.form-content{
    width: 350px;
    background-color: #fff;
    margin: 0px auto;
    border-radius: 10px;
    -webkit-box-shadow: 0px 9px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 20px 0px rgba(0,0,0,0.75); 
  
}
h2{
    margin-bottom: 50px;
    text-align: center;
}
.form-content-main{
    padding: 90px 50px;
    width: 100%;
    height: 100%;
}
.form-group{
    width:  100% !important;
}
.form-control{
    height: 50px;
    border-radius: 20px;
    border-color: none;
    line-height: 1.2;
    box-shadow: 0px 5px 7px -2px rgba(0,0,0,0.75);
}

button{
    background-color: #bd59d4 !important;
    width: 160px;
    height: 50px;
    margin: 20px 0px 0px 45px;
    color: #fff;
    border-radius: 100px !important;
    box-shadow: 0px 5px 15px -1px rgba(241, 114, 214, 0.877);

}
button:hover{
    background-color: #4b2354 !important;
}
.form-signother{
    margin-top: 30px;
}

.form-signother p{
    font-size: 16px;
    line-height: 1.4;
    color: #999999;
    text-align: center;
}
.form-singother-info{
    padding-left: 55px;
}

.form-signother a:link{
    text-decoration: none;
    
 }


.form-signother a i{
    font-size: 50px;
    display: inline-flex;
    border-radius: 100px;
    box-shadow: 0px 5px 7px -2px rgba(0,0,0,0.75);
    width: 53px;
    height: 52px;
}
.form-signother a img{
    width: 55px;
    height: 54px;
   margin-bottom: 26px;
   margin-left: 20px;
   background-repeat: no-repeat;
   border-radius: 100px;
   box-shadow: 0px 5px 7px -2px rgba(0,0,0,0.75);
}

.fa-facebook-f:before, .fa-facebook:before {
   
    padding-left: 10px;
    font-size: 48px;
 
}
::-webkit-input-placeholder {
    font-weight: 800;
 }