:root{
    --text-color:#6e6c6c;
}
*{
    margin: 0px;
    background-color: #f5f5f5;
    scroll-behavior: smooth;
}


ul li{
    list-style: none;
}
.header{
    width: 100%;
    height: 80px;
   
}
.header-title{
    text-align: center;
    font-size: 30px;
    color: var(--text-color);
}
.header-nav{
    width: 100%;
    margin-top: 20px;
    position: absolute;
}
.header-nav-list{
    margin-left: 340px;
    display: flex;
    flex:1;
}


.header-nav-item{
    display: block;

    height: 30px;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
}
.header-nav-item a{
    color: var(--text-color);
}

.header-nav-item a:link{
    text-decoration: none;
}
.header-nav-item:hover{
    cursor: pointer;
}
.content{
    display: flex;
    width: 100%;
    height: 1000px;
    padding-top: 30px;
    padding-left: 30px;
    
}
.content-listcategories ul li{
    color: var(--text-color);
    font-size: 20px;
    line-height: 50px;
    display: block;
}
.content-listcategories ul ul{
    display: none;
}
.content-listcategories ul li:hover >ul{
    display: block;
    cursor: pointer;
}
.content-listcategories ul li:hover{
    font-weight: bold;
    color: rgb(90, 78, 78) !important;
}
.content-listcategories ul li:hover{
   
    cursor: pointer;
    font-weight: bold;
}

.content-listcategories{
    flex: 3;
}
.listcategories{
    padding-top: 20px;
}
.content-products{
    flex: 8;
}
.slick-slide{
    padding-left: 40px;
}

.content-products-list{
    position: relative;
}

.content-products-info{
    position: relative;
}
.content-products-info p{
    font-weight: bold !important;
}
.content-products-list img{
    width: 130px;
}
.product-info{
    margin-top: 10px;
    width: 130px;
    background-color: red;
    color: var(--text-color);
}
.product-edit{
  float: left;
  padding-top: -30px;
}
.content-products-general {
    width: 90%;
    margin: 0px auto;
    margin-top: 100px
}
.multiple-items{
    border: 1px solid black;
    width: 800px;
    height: 190px ;
    overflow: hidden;
    margin-left: 35px;
   
}
.multiple-items .items
{
    display: inline-block;
}
.multiple-items .items img{
    height: 100px;
    width: 100px;
    
}
.content-products-bestsell{
    position: relative;
    margin: 30px 0;
    z-index: 0;

}
.content-products-bestsell h2{
    margin-bottom: 40px;
}
.content-products-bestsell .multiple-items{
    border-style: none;
}

.content-products-bestsell .next{
    position: absolute;
    top: 155px;
    right: 70px;
    font-size: 30px;
}
.content-products-bestsell .prev{
    position: absolute;
    top: 155px;
    left: -15px;
    font-size: 30px;
}

.items i{
    color: red;
}
.listcategories-tem{
    position: relative;
}

.listcategories-tem i{
    position: absolute;
    top: 15px;
    right: 40px;
}


.create-form{
    width: 400px;
    height: 490px;
    background:  rgb(248, 248, 247);
    position: absolute;
    top: -15%;
    left: 5%;
    border: 5px solid  rgb(119, 8, 8);
    display: none;
    animation: fadeIn ease 0.2s;
    z-index: 1;
}
.create-form .create-form-title{
    width: 100%;
    height: 100px;
    background-color: rgb(119, 8, 8);
 
}
.create-form .create-form-title span{
margin-left: 80px;
   color:#ffffff;
   font-size: 30px;
   line-height: 100px;
   background-color: rgb(119, 8, 8);

}
.create-form-info{
    margin-top: 20px;
    background: none;
    padding-left: 25px;
}

.create-form-info .form-group{
    background: rgb(248, 248, 247);
}
.create-form-info .form-group label{
    min-width: 100%;
    background: rgb(248, 248, 247);
    font-weight: bold;
}
.create-form-info .form-group input{
    width: 250px;
    height: 40px;
    margin-left: 50px;
    border-radius: 10px;
    box-shadow: 0px 9px 5px 0px rgb(119, 8, 8);
    border-color: rgb(119, 8, 8);;
    background: rgb(248, 248, 247);

}
.create-image{
    padding-top: 20px !important;
}
.create-image label{
    min-width: 40px !important;
    font-weight: bold;
}
.create-image input{
    min-width: 40px !important;
    width: 10px !important;
}
.create-btn{
    margin-top: 40px;
    margin-left: 90px;
}
.create-btn button{
    width: 100px;
}

.pagination{
    margin-top: 40px;
    padding-left: 30%;
}
.pagination  li{
    margin-left: 30px !important;
}
.pagination  li a{
    font-weight: bold !important;
    color: var(--text-color) !important;
}
.pagination  li a:link{
    text-decoration: none !important;
    
}
@keyframes fadeIn{
    from{
       opacity: 0;
    }
   to{
       opacity: 1;
   }
   }


